.App {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    position: fixed;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-sidebar {
    background-color: #222;
    height: 100%;
    padding: 20px;
    color: white;
    flex: 0 0 10%;
}

.App-body {
    width: 100%;
    height: 100%;
    color: black;
    font-size: large;
    margin-left: 165px;
    flex: 1;
}

.App-title {
    font-size: 1.5em;
}

.diceButton {
    border: none;
    color: #FFF;
    font: 13px/1.4 Roboto, sans-serif;
    padding: 8px 12px;
    margin: 2px;
    width: 75px;
}

.diceButton {
    background-color: #7f8c8d;
    text-decoration: none
}

.diceButton:hover {
    background-color: #667071;
    cursor: pointer
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.consoleContainer{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.consoleContainer label {
    font-size: 79pt;
}